# Primary Dependencies
PyJWT==2.9.0
python-dotenv==1.0.1
requests==2.32.3

# Packaging Dependencies
# black==24.8.0
# build==1.2.2.post1
# packaging==24.1
# pip==25.0.1
# pyproject_hooks==1.2.0
# setuptools==72.2.0
# twine==6.0.0
# wheel==0.44.0

# Testing Dependencies
# pytest==8.3.2
# coverage==7.6.1
# pyflakes==3.2.0
# pytest-cov==5.0.0
# pytest-flakes==4.0.5
# pytest-spec==4.0.0

# Subdependencies
# certifi==2024.7.4
# charset-normalizer==3.3.2
# click==8.1.7
# docutils==0.21.2
# id==1.5.0
# idna==3.7
# importlib_metadata==8.2.0
# iniconfig==2.0.0
# jaraco.classes==3.4.0
# jaraco.context==5.3.0
# jaraco.functools==4.0.2
# keyring==25.3.0
# markdown-it-py==3.0.0
# mdurl==0.1.2
# more-itertools==10.4.0
# mypy-extensions==1.0.0
# nh3==0.2.18
# pathspec==0.12.1
# pkginfo==1.12.1.2
# platformdirs==4.2.2
# pluggy==1.5.0
# Pygments==2.18.0
# readme_renderer==44.0
# requests-toolbelt==1.0.0
# rfc3986==2.0.0
# rich==13.7.1
# urllib3==2.2.2
# zipp==3.20.0

